/*

.canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 10vh;
}

.container {
    display: flex;
    justify-content: center;
}

.button {
  height: 50px;
  width: 50px;
}

*/