.LoggInnContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}
.LoggInnContainer h1, h3 {
    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    background-color: #232323;
    color: white;
    font-family: "KirvyRegular";
}

.LoggInnContainer a {
    margin-top: 2em;
    width: 20rem;
}